* {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primario-color: #3f3f3f;
    --secondario-color: rgb(21, 120, 178);
  }

body{
    width: 1440px;
    color: var(--primario-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#responsive{
    max-width: 100%;
    height: auto;
}

header, footer, main, aside{
    width: 100%;
}

main, aside{
    display: flex;
    flex-wrap: wrap;
}


.descripcion{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}


header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: self-start;
    size: 100px;
    padding-left: 30px;
    padding-top: 40px;
}

nav a{
    font-weight: 700;
    padding-right: 50px;
    font-family: "Koulen", sans-serif;
    color: #3F3F3F;
    font-size: 20px;
}

nav a:hover{
    color: #0583F2;
}

.santiago{
    font-family: "Koulen", sans-serif;
    font-size: 90px;
    margin: 0%;
    padding: 0%;
    padding-top: 50px;
    margin-bottom: -155px;
    margin-left: 30px;
}

.box{
    width: 545px;
    height: 73px;
    background-color: #BF0404;
    border-radius: 0px 60px 60px 0px;
    font-family: "Koulen", sans-serif;
    font-size: 90px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.retavizca{
    font-family: "Koulen", sans-serif;
    font-size: 90px;
    margin: 0%;
    padding: 0%;
    margin-top: -150px;
    margin-left: 30px;
}

.color{
    color: #3F3F3F;
}

.color-red{
    color: #3F3F3F;
}

.imagen-santi{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.imagen-santi img{
    width: 100%;
}


.dis{
    margin-top: -10px;
    margin-left: -313px;
    padding: 0%;
}

.texto-principal{
    width: 75%;
    margin-left: 8%;
    margin-top: -20%;
}

.bandas{
    font-family: "Koulen", sans-serif;
    font-size: 80px;
    width: 100%;
    margin-left: 35%;
    margin-bottom: 150px;
}

.banner{
    margin-top: 5%;
}

.bg1{
    margin: 0%;
    margin-top: -200px;
    width: 40%;
}

.imagen-jinjer{
    margin-left: -400px;
    width: 695px;
    height: 463px;
}

.jinjer{
    width: 282px;
    height: 64px;
    background-color: #F29F05;
    border-radius: 0px 60px 60px 0px;
    font-family: "Koulen", sans-serif;
    font-size: 64px;
    color: #3F3F3F;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.texto-jinjer{
    width: 40%;
    margin-left: 65%;
    margin-top: -33%;
    margin-right: 5%;

}

.audio1{
    width: 40%;
    margin-top: -300px;
    margin-left: 600px;
}

.mastodon{
    width: 370px;
    height: 64px;
    background-color: #F29F05;
    border-radius: 60px 0px 0px 60px;
    font-family: "Koulen", sans-serif;
    font-size: 64px;
    color: #3F3F3F;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: -550px;
    margin-left: 230px;
}

.texto-mastodon{
    width: 32%;
    margin-top: -450px;
    margin-left: -500px;
    text-align: end;
}

.img-mastodon{
    width: 690px;
    height: 460px;
    margin-top: -600px;
    margin-left: 600px;
}

.bg2{
    width: 40%;
    margin: 0%;
    margin-top: -200px;
    margin-left: 65%;
}

.audio2{
    width: 40%;
    margin-left: -20%;
    margin-top: -250px;
}

.otras-bandas{
    font-family: "Koulen", sans-serif;
    font-size: 80px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.logos-bandas{
    width: 100%;
    width: 1000px;
    margin: auto;
    margin-bottom: 5%;
}

.titulo-de-formulario{
    width: 100%;
    text-align: center;
}

footer{
    font-family: "Koulen", sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    height: 150px;
}

.redes-sociales{
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}

.iconos{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: -40PX;
    justify-content: space-evenly;
}